@import './superbowl.scss';

#banner{
 width: 728px;
 height: 90px;
 
}



#olg{
	
	width: 117px;
	height: 69px;
	@include pos(-2, 26);
	
}



#legalBtn{	
	@include pos(650, 0);	
	width: 80px;

}


.phone{
	
	@include pos-scale(510, 5, .53);
	.end_screen_3_group{
		@include pos-scale(157, 12, .75);
		
	}
}






.end_text{
	@include pos-scale(0, 20, .5);
}