@import './superbowl.scss';

#banner{
 width: 160px;
 height: 600px;
 
}

#olg{
	width: 87px;
	height: 49px;
	@include pos(0, 555);
}


.phone{
	
	@include pos-scale(-14, 285, 1.16);
	.end_screen_3_group{
		@include pos-scale(37, -61, .38);
	}
}




#legalBtn{	
	@include pos(95, 4);	
	width: 72px;
	// opacity: 1;
}


.end_smart{
	@include pos-scale(0, 3, .5);
}