.logo_group{
	transform-origin: 50% 50%;
	// z-index: 11;
}



.frame2{
	// z-index: 30;
}


.transform-origin{
	transform-origin: 50% 50% !important;
}

#olg{
	// z-index: 32;
}

.end_cta{
	filter: drop-shadow(0px 0px 10px #20bee6);	
}


.end_screen_1_max{
	filter: drop-shadow(0px 0px 10px #d9efa5);	
}


.end_screen_2_649{
	filter: drop-shadow(0px 0px 10px #9de6f0);	
}


.phone{
	
	.end_hand{
		// opacity: 0;
	}
	.screen{
		width:72px;
		height: 129px;
		@include pos(52, 13);
		overflow: hidden;
		.items{
			.end_screen_1{
				@include pos-scale(0, 0, .5);
			}
			.end_screen_2{
				@include pos-scale(72, 0, .5);
			}
			.end_screen_3{
				@include pos-scale(146, 0, .5);
			}	
		}
		
	}
	.end_screen_1_max{
		@include pos-scale(-17, 13, .5);
	}

	.end_screen_2_649{
		@include pos-scale(-15, 17, .5);
	}

	.end_screen_3_group{
		@include pos-scale(40, -61, .45);
	}
}