<div id="legalBtn"></div>
<div id="legalContent">
Screens not exactly as shown. Must be 18 or older and a resident of Ontario, physically located in the province to play lottery on OLG.ca. Terms and Conditions apply.

        </div>
        