@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/superbowl.scss';

#banner{
 width: 300px;
 height: 250px;
 
}

.t2a{
	z-index: 1;
	@include pos-scale(0, -2, .5);
}
.t2b{
	z-index: 0;
}

.t2c{
	// z-index: 8;
	@include pos-scale(0, 2, .5);
}


#legalBtn{	
	@include pos(220, 0);	
	width: 80px;
	opacity: 0;

}


#olg{
	width: 108px;
	height: 69px;
	@include pos(0, 193);
}


.frame1 .logo_group{
	@include pos-scale(173, -21, .5);
}

.phone{
	@include pos(158, 45);
	
}