@import '../../../_common/styles/common.scss';
@import '../../../_common/styles/superbowl.scss';

#banner{
 width: 300px;
 height: 250px;
 
}




#legalBtn{	
	@include pos(220, 0);	
	width: 80px;
	opacity: 0;

}


#olg{
	width: 108px;
	height: 69px;
	@include pos(0, 193);
}


.frame1 .logo_group{
	@include pos-scale(162, -10, .6);
}

.phone{
	@include pos(158, 45);
	.end_hand{
		// opacity: 0;
	}
	.screen{
		width:74px;
		height: 129px;
		@include pos(25, 13);
		overflow: hidden;
		.items{
			.end_screen_1{
				@include pos-scale(0, 0, .5);
			}
			.end_screen_2{
				@include pos-scale(74, 0, .5);
			}
			.end_screen_3{
				@include pos-scale(148, 0, .5);
			}	
		}
		
	}
	.end_screen_1_max{
		@include pos-scale(-43, 13, .5);
	}

	.end_screen_2_649{
		@include pos-scale(-41, 17, .5);
	}

	.end_screen_3_group{
		@include pos-scale(14, -61, .45);
	}
}